Repository forkcms/forkcms, pull requests merged in 2018-04, with the labels that each got.

#2523 Use type="button" on buttons that trigger modals
  src/Backend/Modules/Locale/Layout/Templates/Edit.html.twig
Labels: Bug

#2518 Simplify PageBlock title/description
  src/Backend/Modules/Pages/Js/Pages.js
Labels: Enhancement, Pages

#2520 Polish language
  src/Backend/Core/Installer/Data/locale.xml
  src/Backend/Modules/Analytics/Installer/Data/locale.xml
  src/Backend/Modules/Blog/Installer/Data/locale.xml
  src/Backend/Modules/ContentBlocks/Installer/Data/locale.xml
  src/Backend/Modules/Dashboard/Installer/Data/locale.xml
  src/Backend/Modules/Extensions/Installer/Data/locale.xml
  src/Backend/Modules/Faq/Installer/Data/locale.xml
  src/Backend/Modules/FormBuilder/Installer/Data/locale.xml
  src/Backend/Modules/Groups/Installer/Data/locale.xml
  src/Backend/Modules/Locale/Installer/Data/locale.xml
  src/Backend/Modules/Location/Installer/Data/locale.xml
  src/Backend/Modules/Mailmotor/Installer/Data/locale.xml
  src/Backend/Modules/MediaGalleries/Installer/Data/locale.xml
  src/Backend/Modules/MediaLibrary/Installer/Data/locale.xml
  src/Backend/Modules/Pages/Installer/Data/locale.xml
  src/Backend/Modules/Pages/Installer/Data/pl/404.txt
  src/Backend/Modules/Pages/Installer/Data/pl/contact.txt
  src/Backend/Modules/Pages/Installer/Data/pl/disclaimer.txt
  src/Backend/Modules/Pages/Installer/Data/pl/sitemap.txt
  src/Backend/Modules/Profiles/Installer/Data/locale.xml
  src/Backend/Modules/Search/Installer/Data/locale.xml
  src/Backend/Modules/Settings/Installer/Data/locale.xml
  src/Backend/Modules/Tags/Installer/Data/locale.xml
  src/Backend/Modules/Users/Installer/Data/locale.xml
  src/Console/Locale/EnableLocaleCommand.php
  src/ForkCMS/Bundle/InstallerBundle/Form/Type/LanguagesType.php
Labels: Enhancement, Locale

#2349 Location(Setting) entity
  src/Backend/Modules/Faq/Tests/Engine/ModelTest.php
  src/Backend/Modules/Location/DependencyInjection/LocationExtension.php
  src/Backend/Modules/Location/Domain/Location/Location.php
  src/Backend/Modules/Location/Domain/Location/LocationRepository.php
  src/Backend/Modules/Location/Domain/LocationSetting/LocationSetting.php
  src/Backend/Modules/Location/Domain/LocationSetting/LocationSettingRepository.php
  src/Backend/Modules/Location/Engine/Model.php
  src/Backend/Modules/Location/Installer/Data/install.sql
  src/Backend/Modules/Location/Installer/Installer.php
  src/Backend/Modules/Location/Resources/config/doctrine.yml
  src/Backend/Modules/Location/Resources/config/repositories.yml
  src/Backend/Modules/Location/Resources/config/services.yml
  src/Backend/Modules/Location/Tests/Engine/ModelTest.php
  src/Frontend/Modules/Location/Engine/Model.php
  tests/data/test_db.sql
Labels: Enhancement, Location

#2525 Integrate Geolocation in Backend Location Model
  app/config/config.yml
  composer.json
  composer.lock
  src/Backend/Modules/Location/Actions/Add.php
  src/Backend/Modules/Location/Actions/Edit.php
  src/Backend/Modules/Location/Engine/Model.php
  src/ForkCMS/Utility/Geolocation.php
Labels: Enhancement, Location, RFC
