Repository forkcms/forkcms, pull requests merged in 2018-08, with the labels that each got.

#2577 A button should be a button, not an anchor
  src/Backend/Modules/Faq/Layout/Templates/AddCategory.html.twig
Labels: Bug

#2584 Add bruto force detection for profiles
  src/Frontend/Modules/Profiles/Actions/Login.php
Labels: Profiles

#2613 Sanitize querystring before redirect after profile login
  src/Backend/Modules/Authentication/Actions/Index.php
  src/Frontend/Modules/Profiles/Actions/Login.php
Labels: Profiles, Users

#2616 Make sure the login action is correct
  src/Frontend/Modules/Profiles/Actions/Login.php
Labels: Profiles
