Repository forkcms/forkcms, pull requests merged in 2018-02, with the labels that each got.

#2456 Add missing ActionRights in MediaLibrary installer for fork cms 5.2
  src/Backend/Modules/MediaLibrary/Installer/Installer.php
Labels: Enhancement, Media Library

#2450 Use more correct button texts for pages add/edit blocks
  src/Backend/Modules/Pages/Layout/Templates/Edit.html.twig
Labels: Enhancement

#2467 Make sure the blog files folder are in git so we can create other fol…
  src/Frontend/Files/Blog/images/128x128/.gitignore
  src/Frontend/Files/Blog/images/source/.gitignore
Labels: Bug

#2472 Media Library: Sort media widgets alphabetically
  src/Backend/Modules/MediaLibrary/ValueObject/MediaWidget.php
Labels: Enhancement, Media Galleries, Media Library
